body {
  background-color: #c9b0b0;
}

h1 {
  color: #4e3535; 
  font-size: 150px;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 20px 300px;
}

.container .button {
  text-align: left;
}

.container {
  text-align: center;
  font-size: 20px;
  padding: 30px 0;
}

.title {
  text-align: center;
  color: #dccccc;
  background-color: #323433;
  font-size: 60px;
  padding: 30px 0;
}

.button {
  text-align: center;
  padding: 1px 15px;
}

.measurements {
  text-align: left;
  font-size: 20px;
  padding: 30px 0;
}
