body {
  background-color: #c9b0b0;
}

h1 {
  color: #4e3535; 
  font-size: 150px;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 200px 300px;
  gap: 30px;
  padding: 30px;
}

.container {
  background-color: #ffffff;
  text-align: center;
  font-size: 80px;
  padding: 10px 0;
}
