body {
  background-color: #c9b0b0;
}

h1 {
  color: #4e3535; 
  font-size: 150px;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 100px 300px
  gap: 10px;
  padding: 10px;
  background-color: #D00000
}

.grid-containter div {
  background-color: #000000;
  text-align: center;
  font-size: 30px;
  padding: 20px 0;
}
