body {
  background-color: #c9b0b0;
}

h1 {
  color: #4e3535; 
  font-size: 150px;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 100px 300px;
}

.container {
  text-align: center;
  font-size: 100px;
}
